body {
  text-align: center;
}

h1 {
  font-size: 24px;
  padding-top: 8px;
  font-weight: normal;
  margin: 0px;
}

img.paw {
  max-height: 18px;
}

h2 {
  font-size: 52px;
  padding-top: 12px;
  font-weight: normal;
  margin: 0px;
}

h3 {
  margin: 0px;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 18px;
}

input{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

img {
  max-width: 440px;
}

p {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

span.aboutPets {
  display: none;
}

div.social {
  font-size: 14px;
}

.social a:link { color: orange; }
.social a:visited { color: coral; }
.social a:hover { color: orange; }
.social a:active { color: #000000; }
