body {
  text-align: center;
}
h1 {
  font-size: 24px;
  padding-top: 18px;
  font-weight: normal;
  margin: 0px;
}

h2 {
  font-size: 52px;
  padding-top: 18px;
  font-weight: normal;
  margin: 0px;
}

h3 {
  margin: 0px;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 10px;
}

div.social {
  font-size: 14px;
}

.social a:link { color: orange; }
.social a:visited { color: coral;}
.social a:hover { color: orange; }
.social a:active { color: #000000; }

div.photos{
  height: 250px;
}

img.family {
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}


.family {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
