body {
  text-align: center;
}

/*div.background{
  background-color: white;
  max-width: 500px;
  max-height: 800px;
}*/

h1 {
  font-size: 24px;
  padding-top: 8px;
  font-weight: normal;
  margin: 0px;
}

h2 {
  font-size: 52px;
  padding-top: 12px;
  font-weight: normal;
  margin: 0px;
}

h3 {
  margin: 0px;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 18px;
}

p{
  margin: 0;
}

img {
  max-height: 350px;
}

img.paw {
  max-height: 18px;
}

input{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

div.social {
  font-size: 14px;
  padding-top: 8px;
}

.social a:link { color: orange; }
.social a:visited { color: coral; }
.social a:hover { color: orange; }
.social a:active { color: #000000; }
